* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    height: 100%;

}

h3 {
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

p {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

.header {
    background: #6a6c92;
    min-height: 75px;
    width: 100%;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    box-sizing: border-box;


}

.logo {
    color: #fff;
    font-size: 35px;
    padding: 18px;
}

.buy-btn,
.btn-cart {
    padding: 4px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #222222;
}

.buy-btn:hover {
    background: #f6ba49;
    color: rgb(10, 10, 10);
}

.button-top:hover {
    background: #f6ba49;
}

.button-top {
    padding: 10px 20px;
}

.cart {
    position: relative;
    display: flex;
}

.productInCart {
    display: flex;
}

.cart-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 10px;
    color: black;
    width: 300px;
}

.invisible {
    display: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-right: 7px;

}

.products {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    min-height: 250px;
    margin: 30px;
    /* outline: 1px solid red; */
}

.product-item {
    padding: 20px 15px;
    display: inline-block;
    border: 1px solid #acacac;
    border-radius: 5px;
}

.search-form {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

.search-field:focus {
    outline: none;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.cart-item img {
    align-self: flex-start;
    margin-right: 15px;
}

.product-single-price {
    color: #474747;
    font-size: 0.8em;
    padding: 4px;
}

.product-price {
    margin-left: 15px;
    padding: 0 5px;
    font-size: 17px;
}

.product-desc {
    max-width: 150px;
}


.product-quantity {
    margin-top: 5px;
    font-size: 0.75em;
    padding: 5px;
}

.right-block {
    text-align: right;
}

.product-title {
    padding: 0 5px;
}

.del-btn {
    padding: 2px 5px;
    background: #b9bbdd;
    border: 1px solid #575757;
    border-radius: 3px;
}